*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

header{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;

}
header h4{
    position: absolute;
    left: 10%;
    bottom: 1rem;
    font-size: 1.6rem;

}
/* splash screen */
.intro{
    
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #161616;
        transition: 3s;
      
}


.intro-image {
  display: block;
  width: 100px; /* Adjust size */
  max-width: 100%; /* Responsive */
  margin: 0 auto; /* Center */
  opacity: 0;
  transform: scale(0.8); /* Initial scaling effect */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.intro-image.active {
  opacity: 1;
  transform: scale(1); /* Scale back to normal */
}

.intro-image.fade {
  opacity: 0;
  transform: scale(1.2); /* Slight zoom-out effect */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}


.logo_header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
  }
  .logo {
    display: block;
    text-align: center;
    font-size: 2rem; /* Adjust size */
    color: #ffffff;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.logo.active {
    opacity: 1;
    transform: translateY(0);
}

.logo.fade {
    opacity: 0;
    transform: translateY(-30px); /* Move up slightly when fading out */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}